* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

header {
  justify-content: space-between;
  padding: 16px 0px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.body {
  display: flex;
}

.post {
  margin-bottom: 16px;
}